html
  head
    title= title
  body
    link(rel='stylesheet' href='style.css')
    script(src='weblogic.js')
    |
    |
    //- h2= 'MASS ACTIONS:'
    //- button(type='button' class='btnAll' onclick='serviceAll("ON")')= 'turn ON all services'
    //- button(type='button' class='btnAll' onclick='serviceAll("OFF")')= 'turn OFF all services '
    //- button(type='button' class='btnAll' onclick='serviceAll("RESTART")')= 'RESTART all services'
    //- button(type='button' class='btnAll' onclick='serviceAll("RESTART_ALIVE")')= 'RESTART all enabled services'
    |
    h2= 'RUN CHEF:'
    ul
      if chefService.status == 'run'
        span(class='serviceName serviceOn' id='chefService')= chefService.name
      else
        span(class='serviceName serviceOff' id='chefService')= chefService.name
      button(type='button' class='btn' id='btnChefServiceOn' onclick='chefServiceOn()')= 'RUN'
      button(type='button' class='btn' id='btnChefServiceOff' onclick='chefServiceOff()')= 'KILL'
      if chefService.status == 'run'
        img(src='loader.gif' class='loader' style="visibility:visible" id='loaderChefService')
      else
        img(src='loader.gif' class='loader' id='loaderChefService')

    |
    h2= 'ACTIONS BY SERVICE:'
    ul
      each service, id in services
        div
          if service.status == 'run'
            span(class='serviceName serviceOn' id='serviceName'+id)= service.name
          else
            span(class='serviceName serviceOff' id='serviceName'+id)= service.name
          button(type='button' class='btn' id='btnOn'+id onclick='serviceOn('+id+',"'+service.name+'")')= 'START'
          button(type='button' class='btn' id='btnOff'+id onclick='serviceOff('+id+',"'+service.name+'")')= 'STOP'
          button(type='button' class='btn' id='btnRestart'+id onclick='serviceRestart('+id+',"'+service.name+'")')= 'RESTART'
          img(src='loader.gif' class='loader' id='loader'+id)


