html
  head
    title= title
  body
    link(rel='stylesheet' href='style.css')
    script(src='weblogic.js')
    |
    |
    h2= 'MASS ACTIONS:'
    button(type='button' class='btnMass' onclick='serviceAll("ON")')= 'turn ON all services'
    button(type='button' class='btnMass' onclick='serviceAll("OFF")')= 'turn OFF all services '
    button(type='button' class='btnMass' onclick='serviceAll("RESTART")')= 'RESTART all services'
    button(type='button' class='btnMass' onclick='serviceAll("RESTART_ALIVE")')= 'RESTART all enabled services'
    |
    h2= 'SERVER: ' + hostname
    |
    |
    h2= 'RUN CHEF:'
    ul
      if chefService.status == 'run'
        span(class='serviceName serviceOn' id='chefService')= chefService.name
      else
        span(class='serviceName serviceOff' id='chefService')= chefService.name
      button(type='button' class='btn' id='btnChefServiceOn' onclick='chefServiceOn()')= 'RUN'
      button(type='button' class='btn' id='btnChefServiceOff' onclick='chefServiceOff()')= 'KILL'
      if chefService.status == 'run'
        img(src='loader.gif' class='loader' style="visibility:visible" id='loaderChefService')
      else
        img(src='loader.gif' class='loader' id='loaderChefService')

    |
    h2= 'ACTIONS BY SERVICE:'
    ul
      each service, id in services
        div
          if service.status == 'run'
            div(class='serviceName serviceOn tooltip' id='serviceName'+service.id)= service.name
              span(class='tooltiptext')= service.yamlFileShow
          else
            div(class='serviceName serviceOff tooltip' id='serviceName'+service.id)= service.name
              span(class='tooltiptext')= service.yamlFileShow
          button(type='button' class='btn' id='btnOn'+service.id onclick='serviceOn("'+service.id+'","'+service.name+'")')= 'START'
          button(type='button' class='btn' id='btnOff'+service.id onclick='serviceOff("'+service.id+'","'+service.name+'")')= 'STOP'
          button(type='button' class='btn' id='btnRestart'+service.id onclick='serviceRestart("'+service.id+'","'+service.name+'")')= 'RESTART'
          img(src='loader.gif' class='loader' id='loader'+service.id)
          span(class='serviceName branchInfo' id='branch'+service.id)= service.branch
          div(id='dependentServiceOffModal' class='modal active')
            div(class='modal-header')
              div(id='dependentServiceOffModalHeader' class='title')
              button(data-close-button class='close-button' onclick='closePopup()')='x'
            div(id='dependentServiceOffModalBody' class='modal-body')
    div(id='overlay')

